<ion-header>
  <ion-toolbar class="navbar1">
    <ion-button fill="clear" size="large" color="light">Voltar
      <ion-icon slot="start" name="chevron-back" color="light"></ion-icon>
    </ion-button>
    <ion-title class="texto">Teste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar class="navbar2">
    <ion-button fill="clear" size="large" color="medium">Voltar
      <ion-icon slot="start" name="chevron-back" color="medium"></ion-icon>
    </ion-button>
    <ion-title class="texto">Teste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar class="navbar3">
    <ion-button fill="clear" size="large" color="dark">Voltar
      <ion-icon slot="start" name="chevron-back" color="dark"></ion-icon>
    </ion-button>
    <ion-title class="texto">Teste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar class="navbar4">
    <ion-button fill="outline" size="large" color="light" shape="round">Voltar
      <ion-icon slot="start" name="chevron-back" color="light"></ion-icon>
    </ion-button>
    <ion-title class="texto">Teste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar class="navbar5">
    <ion-button fill="outline" size="large" color="light">Voltar
      <ion-icon slot="start" name="chevron-back" color="light"></ion-icon>
    </ion-button>
    <ion-title class="texto">Teste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar class="navbar6">
    <ion-button fill="clear" size="large" color="light">Voltar
      <ion-icon slot="start" name="chevron-back" color="light" shape="round"></ion-icon>
    </ion-button>
    <ion-title class="texto">Teste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar class="navbar7">
    <ion-button class="botao7" fill="clear" size="large" color="light">Voltar
      <ion-icon slot="start" name="chevron-back" color="light"></ion-icon>
    </ion-button>
    <ion-title class="texto">Teste</ion-title>
  </ion-toolbar>
</ion-header>


background: rgb(0,31,63);
background: linear-gradient(59deg, rgba(0,31,63,1) 0%, rgba(65,105,225,1) 20%, rgba(135,206,235,1) 40%, rgba(173,216,230,1) 70%, rgba(60,97,162,1) 90%);
